<h1><span data-i18n="skills.my_skills">Publications</span></h1>

{% for pub in site.data.index.publications %}
<h5>{{ pub.name }}</h5>
<ul class="nav-list" style="margin-bottom: 10px">
  {% for auth in pub.authors %}
  <li class="nav-item"> <a class="pub-authors" href="{{ auth.profile }}">{{ auth.name }}</a> </li>
  {% endfor %}
</ul>
<p>{{ pub.abs | strip_html | truncatewords: 25 }}</p>

{% if pub.pub_link %}
<a href="{{ pub.pub_link }} "><i class="fa fa-fw fa-file-text"></i> Publication</a>
{% endif %}
{% if pub.conf %}
  {% for v in pub.conf %}
  <a href="{{ v.link }} "><i class="fa fa-fw fa-external-link"></i> {{ v.name }}<sup>{{ v.year }}</sup> - {{ v.status }}</a> 
  {% endfor %}
{% endif %}
{% if pub.github %}
<a href="{{ pub.github }} "><i class="fa fa-fw fa-github"></i> GitHub</a>
{% endif %}
{% if pub.code %}
<a href="{{ pub.code }} "><i class="fa fa-fw fa-code"></i> Code</a>
{% endif %}
{% if forloop.last == false %}
<hr />
{% else %}
<div style="margin-bottom: 1.2em"></div>
{% endif %}
{% endfor %}
