<div class="title">
    <img src="{{ '/img/name_text.png' | relative_url }}"> </img>
</div>
<div class="nav-text">
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item"> <a href="curriculum-vitae">curry</a> </li>
            <li class="nav-item"> <a href="about">ego</a> </li>
            <li class="nav-item"> <a href="lifestyle">veg -f</a> </li>
            <li class="nav-item"> <a href="thoughts">muse</a> </li>
            <li class="nav-item"> <a href="news">sup</a> </li>
        </ul>
    </nav>
</div>
