<div class="align-clocks">
  <ol class="clock">
    <li class="part">
      <ol class="clock-digit">
	<li class="digit h11"> </li>
	<li class="digit h12"> </li>
	<li class="digit h13"> </li>
	<li class="digit h14"> </li>
      </ol>
      <ol class="clock-digit">
	<li class="digit h21"> </li>
	<li class="digit h22"> </li>
	<li class="digit h23"> </li>
	<li class="digit h24"> </li>
      </ol>
    </li>
    <li class="part">
      <ol class="clock-digit">
	<li class="digit m11"> </li>
	<li class="digit m12"> </li>
	<li class="digit m13"> </li>
	<li class="digit m14"> </li>
      </ol>
      <ol class="clock-digit">
	<li class="digit m21"> </li>
	<li class="digit m22"> </li>
	<li class="digit m23"> </li>
	<li class="digit m24"> </li>
      </ol>
    </li>
    <li class="part">
      <ol class="clock-digit">
	<li class="digit s11"> </li>
	<li class="digit s12"> </li>
	<li class="digit s13"> </li>
	<li class="digit s14"> </li>
      </ol>
      <ol class="clock-digit">
	<li class="digit s21"> </li>
	<li class="digit s22"> </li>
	<li class="digit s23"> </li>
	<li class="digit s24"> </li>
      </ol>
    </li>
  </ol>
  <ol class="clock">
    <li class="part">
      <ol class="real-digit">
	<li class="h1"> 0 </li>
      </ol>
      <ol class="real-digit">
	<li class="h2"> 0 </li>
      </ol>
    </li>
    <li class="real-digit"><strong> : </strong></li>
    <li class="part">
      <ol class="real-digit">
	<li class="m1"> 0 </li>
      </ol>
      <ol class="real-digit">
	<li class="m2"> 0 </li>
      </ol>
    </li>
    <li class="real-digit"><strong> : </strong></li>
    <li class="part">
      <ol class="real-digit">
	<li class="s1"> 0 </li>
      </ol>
      <ol class="real-digit">
	<li class="s2"> 0 </li>
      </ol>
    </li>
  </ol>
</div>
