<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title> {{ site.title }} </title>
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.author }}">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800|Roboto:400,500,700|Source+Serif+Pro:400,600,700" rel="stylesheet">

<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="{{ '/assets/css/normalize.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/skeleton.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/modify.css' | relative_url }}">

<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="icon" type="image/png" href="{{ '/assets/images/drawing.png' | relative_url }}">
