/* Override the css elements in Skeleton CSS as you need */

ul {
  list-style-type: none;
}

.nav-list li {
  float: right;
}

.align-clocks {
  display: flex;
  flex-direction: column;
}

.clock {
  margin: 2px;
}

.clock li {
  float: left;
}

.part {
  display: flex;
  flex-direction: row;
  margin: 0px 1px;
  padding: 0px 2px;
}

.clock-digit {
  display: flex;
  flex-direction: column;
  margin: 0px 2px;
}

.clock-digit li {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 1px;
  background-color: black;
}

.real-digit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 1px;
  font-size: 13px;
}

.real-digit > .colon {
  transition: all .1s;
}

.clock-digit .on {
  background-color: orangered;
}

li a {
  display: block;
  color: black;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  color: orangered;
}

.profile {
  display: block;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.site-logo {
  display: inline-block;
  width: 48px;
  height: 48px;
  padding-right: 15px;
}

.center {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}