/* Override the css elements in Skeleton CSS as you need */

ul {
  list-style-type: none;
}

.nav-list li {
  float: right;
}

.align-clocks {
  display: flex;
  flex-direction: column;
}

.clock {
  margin: 2px;
  padding-left: 25px;
}

.clock li {
  float: left;
}

.part {
  display: flex;
  flex-direction: row;
  margin: 0px 1px;
  padding: 0px 2px;
}

.clock-digit {
  display: flex;
  flex-direction: column;
  margin: 0px 2px;
}

.clock-digit li {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 1px;
  background-color: black;
}

.real-digit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 1px;
  font-size: 13px;
}

.real-digit > .colon {
  transition: all .1s;
}

.clock-digit .on {
  background-color: orangered;
}

.nav-list-link a {
  display: block;
  color: black;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
}

.nav-list-link a:hover {
  color: orangered;
}

a {
  color: black;
}

a:hover {
  color: orangered;
}

.profile {
  display: block;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.site-logo {
  display: inline-block;
  width: 48px;
  height: 48px;
  padding-right: 20px;
}

.center {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.orange-title {
  display: inline-block;
  color: orangered; /*rgba(255, 69, 0, 0.85);*/
  /*background-color: black;
  width: auto;
  height: auto;
  padding: 10px;*/
}

@media (max-width: 550px) {
  .clock {
    margin: 2px;
    padding-left: 5px;
  }

  .clock-digit {
    margin: 0px 1px;
  }

  .clock-digit li {
    width: 4px;
    height: 4px;
  }

  .real-digit {
    font-size: 8px;
  }

  .site-logo {
    width: 20px;
    height: 20px;
    padding-right: 5px;
  }

  .nav-list-link a {
    padding: 4px 6px;
    font-size: 10px;
  }

  .center {
    margin-top: 5px;
  }

  body {
    font-size: 1.2em;
  }
}

@media (max-width: 750px) and (min-width: 550px) {
  .clock {
    margin: 2px;
    padding-left: 5px;
  }

  .clock-digit {
    margin: 0px 2px;
  }

  .clock-digit li {
    width: 5px;
    height: 5px;
  }

  .real-digit {
    font-size: 13px;
  }

  .site-logo {
    width: 32px;
    height: 32px;
    padding-right: 5px;
  }

  .nav-list-link a {
    padding: 5px 8px;
    font-size: 13px;
  }

  .center {
    margin-top: 8px;
  }
}

* {
  position: relative;
}

.timeline {
	padding: 40px 0px;
  width: 100%;
}

.timeline:before {
	content: "";
  position: absolute;
  top: 0px;
  left: 0px;
	width: 4px;
	height: calc(100% - 50px);
  background: rgba(255, 69, 0, 0.5);
}

.timeline .col {
  margin-left: 20px;
}

.timeline .col .title h1 {
  margin-left: 20px;
	color: rgba(0,0,0,0.1);
  letter-spacing: 3px;
  font-size: 60px;
}

.timeline .col .title h1:before {
	content: "";
	position: absolute;
	left: -45px;
	top: 60px;
	width: 10px;
	height: 10px;
	background: rgba(255, 69, 0, 0.5);
  border: 2px solid rgb(255, 68, 0);
}

.timeline .col .title h2 {
  margin-top: -25px;
  margin-left: 20px;
  font-size: 30px;
}

.timeline .col .description p {
	font-size: 15px;
	line-height: 20px;
	margin-left: 30px;
	margin-top: 5px;
}

.timeline .col .description {
  border-left: 1px solid #000;
  margin-left: 25px;
}

@media (max-width: 550px) {
  .timeline .col {
    margin-left: 10px;
  }

  .timeline .col .title h1 {
    font-size: 30px;
    margin-left: 10px;
    letter-spacing: 2px;
  }

  .timeline .col .title h1:before {
    left: -24px;
    top: 25px;
    width: 8px;
    height: 8px;
  }

  .timeline .col .title h2 {
    margin-left: 10px;
    font-size: 20px;
  }

  .timeline .col .description p {
    font-size: 10px;
    margin-left: 20px;
  }

  .timeline .col .description {
    margin-left: 15px;
  }
}

@media (max-width: 750px) and (min-width: 550px) {

  .timeline .col .title h1 {
    font-size: 40px;
  }

  .timeline .col .title h1:before {
    top: 35px;
  }

  .timeline .col .title h2 {
    font-size: 25px;
  }

  .timeline .col .description p {
    font-size: 15px;
  }

  .timeline .col .description {
    margin-left: 15px;
  }
}

.speech-bubble {
	position: relative;
	background: rgba(255, 69, 0, 0.5);
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: rgb(255, 68, 0);
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}