<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="container">
        <div class="row">
            <div class="nav-list-masthead">
                <div class="logo-img">
                        <a href="/"><img src="/img/logo.png"></img></a>
                </div>
                <div class="bin-clock">
                    {% include clock.html %}
                </div>
            </div>
        </div>
        {{ content }}
  </div>
  {% include js.html %}
</body>
</html>
