---
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en'}}">
  <head>
    {% include header.html %}
  </head>
  
  <header>
    {% include masthead.html %}
  </header>

  <body>
    <!-- video autoplay muted loop id="myVideo">
      <source src="{{ '/assets/files/background_animation.mp4' | relative_url }}" type="video/mp4">
      Your browser does not support HTML5 video.
    </video -->
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
      <div class="row">
        <h4 style="margin-left: 10px; margin-top: 100px">{{ page.title }}</h4>
        <div class="sserif-normal">
          {{ content }}
        </div>
      </div>
    </div>
  </body>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% include footer.html %}
</html>
