---
layout: default
---

{% assign sorted = site.news | sort: 'date' | reverse %}
<div class="cards-horizontal">
  {% for item in sorted %}
    <div class="summary-card">
      <div class="cucumber">
        {% assign year = item.date | date: '%Y' %}
        <div class="head"> {{ year }} </div>
        <h4> {{ item.date | date: '%B %d' }} </h4>
        <p> {{ item.content | markdownify }} </p>
        <div class="foot">
          {% assign url = '/assets/images/' | append: item.logo %}
          <img class="card-logo" src="{{ url }}"></img>
        </div>
      </div>
    </div>
  {% endfor %}
</div>