<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="container">
        <div class="row">
            <div class="nav-list-masthead">
                <div class="logo-img">
                    <a href="/"><img src="/img/logo.png"></img></a>
                </div>
                <div class="bin-clock">
                    {% include clock.html %}
                </div>
            </div>
        </div>
        <div class="row">
            <blockquote class="resume">
                "A work of art, curriculum vitae is a curry that gives a taste of someone's career."
            </blockquote>
        </div>
        <div class="row resume">
            <div class="col l7">
                <div class="row">
                    <div class="col">
                        {% include sections/publications.html %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% include sections/projects.html %}
                    </div>
                </div>
            </div>

            <div class="col l4 offset-l1">
                <div class="row">
                    {% include sections/skills.html %}    
                </div>
                <div class="row">
                    {% include sections/career.html %}    
                </div>
                <div class="row">
                    {% include sections/education.html %}    
                </div>
            </div>
        </div>
    </div>
    {% include js.html %}
</body>
</html>
